html{
    font-family: 'Raleway', sans-serif;
}
.navtext {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.hero {
    background-size: cover;
    position: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('/img/head.gif');

    
}
@media only screen and (min-width: 1200px) {
    .hero {
    background-repeat: no-repeat;
    padding: 50px;
    }
}
.header{
    padding-top: 5%;
}
.company-logo {
    padding-top: 10px;
}
#news {
    padding-top: 20px;
    padding-bottom: 50px;
}
#contact {
    padding-left: 10px;
    padding-right: 10px;
}

#stand {
    padding-top: 50px;
    padding-bottom: 100px;
}
@media only screen and (min-width: 1000px) {
    #stand {
    background-image: url('/img/build.svg');
    background-repeat: no-repeat;
    }
}

