html{
    font-family: 'Raleway', sans-serif;
}
.navtext {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.hero {
    background-size: cover;
    position: center;
    height: 95vh;
    overflow: hidden;
    
}
.header{
    padding-top: 15%;
}
.company-logo {
    padding-top: 15px;
}